{% extends 'main/index.html' %}

{% block title %}Hotels{% endblock %}

{% block content %}
<div class="hotels-list">
    {% for hotel in hotels %}
        <div class="hotel-card btn ">
            {% if hotel.image %}
                <div class="hotel-image-container">
                    <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}" class="hotel-image">
                </div>
            {% endif %}
            <h2>{{ hotel.name }}</h2>
            <p>Rating: {{ hotel.rating }}</p>
            <p>{{ hotel.description }}</p>
            <a href="{% url 'din' hotel.id %}" class="btn btn-danger">Click</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
